page-home {
    .language-select {
        width: 100%;
    }

    .margin-top-bot {
        margin: 20px 0;
    }

    hr {
        margin-top: 20px;
        height: 2px;
    }

    .to-do-margin {
        margin-top: 50px;
    }

    .no-border {
        border-top: none;
    }
}
