page-home {
    .test {
        color: red;
    }

    .language-select {
        width: 100%;
    }

    .margin-top-bot {
        margin: 20px 0;
    }

    hr {
        margin-top: 20px;
        height: 2px;
    }
}
