<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon md="md-home" class="padding-nav"></ion-icon>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button outline [ngClass]="{'activated-button': recordIsActive}" (click)="activateRecord()">Record</button><button ion-button outline [ngClass]="{'activated-button': talkIsActive}" (click)="activateTalk()">Talk</button>
  <p *ngIf="!recordIsActive && !talkIsActive">Select an option to get started</p>
  <div class="margin-top-bot" *ngIf="recordIsActive">
    <h3>Record a Message</h3>
    <p *ngIf="!isRecorded">Press Record</p>
    <p *ngIf="isRecorded">Select the correct recording</p>

    <ion-card *ngFor="let s of speech">
      <ion-card-content id="{{s}}" (click)="clickToTranslate($event)">
        {{s}}
      </ion-card-content>
    </ion-card>

    <ion-list *ngIf="translateIsActive" class="bottom-margin">
      <ion-item>
        <ion-label floating>{{placeholderText}}</ion-label>
        <ion-input type="text" value="{{translateValue}}"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="translateIsActive && recordLanguageSelect" class="language-select">
      <ion-item>
        <ion-label>Language to Translate</ion-label>
        <ion-select [(ngModel)]="languageRecorded">
          <ion-option value="en-GB">English (UK)</ion-option>
          <ion-option value="en-US">English (US)</ion-option>
          <ion-option value="nl-BE">Dutch (Belgium)</ion-option>
          <ion-option value="it-IT">Italian (Italy)</ion-option>
          <ion-option value="fr-FR">French (France)</ion-option>
          <ion-option value="de-DE">German (Germany)</ion-option>
          <ion-option value="es-ES">Spanish</ion-option>
        </ion-select>
      </ion-item>
    </ion-list><button *ngIf="translateIsActive" ion-button (click)="translate()">Translate</button><button ion-button (click)="record()">Record</button>
    <hr>
</div>

<div class="margin-top-bot" *ngIf="talkIsActive">
  <h3>Speak a Message</h3>
  <p>Select the language you want to be spoken and press Talk</p>
  <ion-list>
    <ion-item>
      <ion-label floating>Text To Speak Here</ion-label>
      <ion-input type="text" [(ngModel)]="translateValueTwo"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Language to Talk</ion-label>
      <ion-select [(ngModel)]="languageSpoken">
        <ion-option value="en-GB">English (UK)</ion-option>
        <ion-option value="en-US">English (US)</ion-option>
        <ion-option value="nl-BE">Dutch (Belgium)</ion-option>
        <ion-option value="it-IT">Italian (Italy)</ion-option>
        <ion-option value="fr-FR">French (France)</ion-option>
        <ion-option value="de-DE">German (Germany)</ion-option>
        <ion-option value="es-ES">Spanish</ion-option>
      </ion-select>
    </ion-item>
  </ion-list><button ion-button (click)="talk()">Talk</button>
</div>

</ion-content>
