<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="padding-title"><ion-icon md="md-map" class="padding-nav"></ion-icon>Directions<img class="logo" src="../../assets/logo/wordbuddy_icon.png" /></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid *ngIf="!hideRouteSearch">
        <ion-row>
            <ion-col>
                    <p>Welcome to the directions page, you can see your <b>own location</b> and <b>search for routes</b> here.</p><button class="button" ion-button (click)="addMarker()"><ion-icon class="padding-nav" md="md-locate"></ion-icon>Locate me</button><button class="button" ion-button (click)="routeSearchWindow()">Search</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="hideRouteSearch" id="floating-panel">
        <ion-list>
        <ion-item>
            <ion-input type="text"[(ngModel)]="start"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text"[(ngModel)]="end"></ion-input>
        </ion-item>
        </ion-list>
        <button class="button" ion-button (click)="calculateAndDisplayRoute()">Confirm</button><button class="button" ion-button (click)="routeSearchWindow()">Hide</button>
    </div>
    <div #map id="map"></div>
</ion-content>

